@import url("https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sixtyfour+Convergence&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sora:wght@100..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sora:wght@100..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
body {
  background-color: rgb(65, 65, 65);
}
nav {
display: flex;
width: 100%;
  
}
figure {
  justify-self: self-end;
  width: 100%;
  height: 100%;
}
.logo {
  width: 24%;
  height: 30%;
}

.lista {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: auto; /* Elimina el padding por defecto del ul */
 margin-top: auto;
  margin-right: 2.4vw;
  margin-bottom: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;
}


li a {
  text-decoration-line: none;
  text-decoration-color: antiquewhite;
  font-size: 27px;
  margin:0 1.5vw;
  color: black;list-style: none;
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

li a:hover {
  color: rgb(255, 255, 255);
  transition: 0.2s ease-out;
}

.container {
 
  display: inline-flex;
  flex-direction: row;
  height: 700px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #676666d4;
  width: 100%;
  height: 800px;
}

.div1 {
  grid-area: 1 / 1 / 6 / 2;
  height: auto;
  display: flex;
  flex-direction: column;
  width: auto;
}
.div2 {
  grid-area: 1 / 2 / 3 / 10;
  height: auto;
  width: auto;
  
}
.div3 {
    grid-area: 3 / 2 / 4 / 10;
  
}
.conversor {
  display: inline-flex;
  height: 100%;
  width: 100%;margin: auto;
  
}
.div4 {
    grid-area: 4 / 2 / 6 / 10;
    height: auto;
    width: auto;
   
}

.btnSelect {
  background-color: rgb(40, 38, 38);
  color: white;
  width: auto;
  border: 3px solid rgb(9, 3, 3);
  border-collapse: collapse;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  height: 500px;
  cursor: pointer;
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.btnSelect:hover {
  background-color: rgb(69, 66, 66);
  transition: 0.2s ease-out;

}

.select {
  padding: 5%;
  display: flex;
  flex-direction: column;
  width: auto;
  margin: auto;
}

input {
  background-color: rgb(255, 254, 253);
  height: 5vh;
  border: 3px solid rgb(42, 41, 41);
  font-size: large;
  width: 28vw;
  border-bottom: 0px solid rgb(0, 0, 0);
  border-top-left-radius:15px ;
  border-top-right-radius:15px ;
}
select {
  background-color: rgb(235, 152, 49);
  border: 3px solid rgb(42, 41, 41);
  border-bottom-left-radius:15px ;
  border-bottom-right-radius:15px ;
  text-align: center;
  width: auto;
  font-size: large;
  height: 4vh;
}
.hrs {
 margin: auto;
  width: 90%;
  height: 2px;
  border: 1px solid rgb(51, 49, 49);
  background-color: rgb(11, 10, 10);
}
footer {

  width: 100%;
  height: 2.5rem;
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
